p {
    color: red;
    font-weight: bold;

}

td {
    border: 1px solid blue;
    text-align: center;
}

table {
    border: 10px solid rgb(64, 163, 34);
    background: fixed rgb(49, 182, 171);
}

.b {
    background-origin: padding-box;
    color: rgb(255, 0, 0);

}